// Variables
@import 'variables';

body {
  padding: 0;
  margin: 0;
}

#app {
  background-color: #f8f8f8;
}

.header {
  background-size: cover;
  height: 760px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-mark {
  width: 72%;
  margin-left: 14%;
  background-color: white;
  box-shadow: 1px 1px 3px 1px #c3c3c37a;
  .food-view {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .food-card {
      width: 60%;
      height: 460px;
      cursor: pointer;
      transition: all, 700ms;
    }
    .food-card:hover {
      //background-size: cover;
      background-position: center;
    }

    :first-child {
      width: 40%;
    }
    :last-child {
      width: 40%;
    }
  }
}
